<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header()">
	<meta charset="utf-8">
	<title>購入確認</title>
	</head>
<body>
	<!--/* 共通header */-->
	<div th:replace="common :: header"></div>
	<div class="container-fluid">
		<h1>購入確認</h1>
		<table class="table table-striped">
			<tr>
				<th class="text-center">商品名</th>
				<th class="text-center">金額</th>
			</tr>
			<tr th:each="product : ${cart}">
				<td th:text="${product.proName}"></td>
				<td th:text="${product.price}"></td>
			</tr>
		</table>
		<p>合計金額：[[${total}]]円</p>
		<form action="buyComplete" method="GET" >
			<div th:each="entry : ${typeMap}">
				<input type="radio" name="type" th:value="${entry.value}" required >[[${entry.key}]]<br>
			</div>
			<button type="submit" class="btn btn-search m-2" >上記の内容で購入する</button>
		</form>
		<form action="cart" method="GET" >
			<button type="submit" class="btn btn-outline-warning m-2">カートに戻る</button>
		</form>
	</div>
</body>
</html>
