<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header()">
	<meta charset="utf-8">
	<title>かごゆめ</title>
</head>
<body>
	<!--/* 共通header */-->
	<div th:replace="common :: header"></div>
	<div class="container-fluid">
		<h1>会員情報</h1>
		<p th:text="'名前：' + ${userData.name}">name</p>
		<!--/* <p th:text="'パスワード：' + ${userData.password}">pass</p> */-->
		<p th:text="'メールアドレス：' + ${userData.mail}">mail</p>
		<p th:text="'住所：' + ${userData.address}">address</p>
		<div class="form-inline">
			<form action="myupdate" method="get">
				<button type="submit" class="btn btn-outline-warning m-2">会員情報の変更</button>
			</form>
			<form action="mydelete" method="get">
				<button type="submit" class="btn btn-outline-secondary m-2">退会</button>
			</form>
		</div>
	</div>
</body>
</html>
