<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通headerの読み込み -->
<head th:replace="common :: meta_header()">
	<meta charset="utf-8">
	<title>かごゆめ</title>
</head>
<body>
	<!--/* 共通header */-->
	<div th:replace="common :: header"></div>
	<div class="container-fluid">
		<div class="d-flex flex-column">
			<div class="d-flex justify-content-center">
				<h4>好きなだけ買い物してる気分になれるよ～！</h4>
			</div>
			<form action="search" method="GET" class="form-inline d-flex justify-content-center">
				<div class="form-inline">
					 <div class="form-group">
						<input type="text" name="word" class="form-control">
					</div>
					<button type="submit" class="btn btn-search top-search-position" >検索</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
